/* Classic Theme For First User Selection */
body {
    padding: 0;
    margin: 0;
    background-color: rgba(226, 226, 226, 0.835);
    box-sizing:border-box ;
}
#navbar {
    border-radius: 20px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:black;
}
#navbar-logo {
    text-decoration: none;
}
.fa-user-circle {
    color: black;
    font-size: 70px;
    margin-top: 5px;
    z-index: 2;
}
.versus-img {
    width:32px;
}
#how-to-play {
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 25px;
    align-items: center;
}
#brand-text {
    font-family: 'Rubik Beastly',cursive;
    margin:20px;
    font-size: 70px;
    line-height: 70px;
}
#rock-text{
    color:#ee3393;
}
#paper-text{
    color:#f9ca00;
}
#scissors-text{
    color:#01cae6;
}
.logo-image {
    width: 54px;
    height: 54px;
    border: 3px solid black;
    border-radius: 50%;
    margin: 10px;
}
#rock-bg {
    background-color: #ee3393;
}
#paper-bg {
    background-color: #f9ca00;
}
#scissors-bg {
    background-color: #01cae6;
}
#dropdown-btn-circle {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: white;
    margin-top: 15px;
    z-index: 1;
}
#dropdown-btn {
    cursor: pointer;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-self: center;
}
#dropdown-container {
    background-color: white;
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    width: 80px;
    border-radius:0px 0px 50px 50px ;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#complete-circle {
    display: none;
    position: absolute;
    top:65px;
    width: 80px;
    height: 42px;
    background-color: white;
    z-index: 2;
}
#rock-hand {
    width: 321px;
    height: 388px;
    margin-right:10px ;
}
#rock-hand:hover {
    animation: shakeHorizontal 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
}
#paper-hand {
    width: 428px;
    height: 351px;
}
#first-row {
    display: flex;
    justify-content: center;
    padding-top: 75px;
}
#paper-hand:hover {
    animation: shakeHorizontal 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
}
#scissors-hand {
    width: 281px;
    height: 378px;
}
#scissors-hand:hover {
    animation: shakeVertical 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
}
#second-row {
    display: flex;
    justify-content: center;
}
@keyframes shakeVertical {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px , 0, 0);
    }
}
@keyframes shakeHorizontal {
    10%, 90% {
      transform: translate3d(0, -1px, 0);
    }
    
    20%, 80% {
      transform: translate3d(0, 2px, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(0, -4px, 0);
    }
  
    40%, 60% {
      transform: translate3d(0  , 4px, 0);
    }
  }
#ai-score-table {
    display: flex;
    flex-direction: column;
    position:absolute;
    margin-left: 10px;
    width: 250px;
    align-items: center;
    border-radius: 20px;
    height: calc(100vh - 145px);

}
.fa-robot {
    margin-top: 20px;
    display: flex;
    font-size: 75px;
    color: black;
}
.ai-score {
    color: black;
    margin-top: 50px;
    font-size: 50px;
    font-family: 'Press Start 2P', cursive;
}
#player-score-table {
    left: calc(100vw - 266px);
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    width: 250px;
    align-items: center;
    border-radius: 20px;
    height: calc(100vh - 145px);
    z-index: -5;
}
.fa-user {
    margin-top: 20px;
    display: flex;
    font-size: 75px;
    color: black;
}
.player-score {
    color: black;
    margin-top: 50px;
    font-size: 50px;
    font-family: 'Press Start 2P', cursive;
}

@media only screen and (max-width:600px) {
    #navbar {
        margin-bottom: 0px;
    }
    #user-choose {
        display: flex;
        align-items: center;
    }
    .fa-user-circle {
        color: black;
        font-size: 30px;
        margin-top: 5px;
        z-index: 2;
    }
    #dropdown-btn-circle {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: white;
        z-index: 2;
        margin-top: 0px;
    }
    #dropdown-btn {
        cursor: pointer;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-self: center;
    }
    #dropdown-container {
        background-color: white;
        display: none;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        width: 40px;
        border-radius:0px 0px 50px 50px ;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        margin-top: 135px;
        z-index: 2;
    }
    .logo-image {
        width: 26px;
        height: 26px;
        border: 2px solid black;
        border-radius: 50%;
        margin: 5px;
    }
    #complete-circle {
        display: none;
        position: absolute;
        top:45px;
        width: 40px;
        height: 42px;
        background-color: white;
        z-index: 1;
    }
    #brand-text {
        font-size: 12px;
        margin: 0px;
    }
    .versus-img {
        width: 8px;
    }
    #how-to-play {
        font-size: 10px;
    }
    #rock-hand {
        width: 151px;
        height: 188px;
    }
    #paper-hand {
        width: 171px;
        height: 148px;
    }
    #scissors-hand {
        width: 121px;
        height: 158px;
    }
    #first-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 200px;
    }
    #second-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

}
@media only screen and (min-width:600px) and (max-width:768px) {
    #brand-text {
        font-size: 18px;
    }
    .versus-img {
        width: 12px;
    }
    #how-to-play {
        font-size: 18px;
    }
}
@media only screen and (min-width:768px) and (max-width:1200px) {
    #brand-text {
        font-size: 38px;
    }
    .versus-img {
        width:22px;
    }
    #how-to-play {
        font-size: 20px;
    }
}
