/* Classic Theme For First User Selection */
body {
    padding: 0;
    margin: 0;
    background-color: rgba(226, 226, 226, 0.835);
    box-sizing:border-box ;
}
#navbar {
    border-radius: 20px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:black;
}
#navbar-logo {
    text-decoration: none;
}
.fa-user-circle {
    color: black;
    font-size: 70px;
    margin-top: 5px;
    z-index: 2;
}
.versus-img {
    width:32px;
}
#how-to-play {
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 25px;
    align-items: center;
    margin-top: 32px;
    margin-left:2em;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}
#brand-text {
    font-family: 'Rubik Beastly',cursive;
    margin:20px;
    font-size: 70px;
    line-height: 70px;
}
#rock-text{
    color:#ee3393;
}
#paper-text{
    color:#f9ca00;
}
#scissors-text{
    color:#01cae6;
}
.logo-image {
    width: 54px;
    height: 54px;
    border: 3px solid black;
    border-radius: 50%;
    margin: 10px;
}
#rock-bg {
    background-color: #ee3393;
}
#paper-bg {
    background-color: #f9ca00;
}
#scissors-bg {
    background-color: #01cae6;
}
#dropdown-btn-circle {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: white;
    margin-top: 15px;
    z-index: 2;
}
#dropdown-btn {
    cursor: pointer;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-self: center;
}
#dropdown-container {
    background-color: white;
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    width: 80px;
    border-radius:0px 0px 50px 50px ;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#complete-circle {
    display: none;
    position: absolute;
    top:65px;
    width: 80px;
    height: 42px;
    background-color: white;
    z-index: 1;
}
#information {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    font-family: 'Lato', sans-serif;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    height: auto;
    color: #fff;
    background-color: #000;
    border-radius: 25px;
    overflow: hidden;
}
#container > h1 {
    font-size: 42px;
}
#container > p {
    padding: 0px 35px 0px 35px;
    font-size: 28px;
    margin-top: 0;
}
#image-container {
    display: flex;
    justify-content: center;
}
.logo-in-text {
    width: 100px;
    height: 100px;
    margin:10px;
}
#glhf {
    display: flex;
    justify-content: center;
    padding: 25px 15px 10px 15px;
    font-weight:900 ;
    font-size: 28px;
}
#footer {
    border-radius: 20px;
    background-color: #000;
    display: flex;
    width: calc(100% - 20px);
    position: fixed;
    bottom: 0;
    margin: 0px 0px 10px 10px;
    height: 110px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#footer >p {
    font-size: 26px;
    color: #fff;
}
#contact {
    width: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    font-weight: 800;
}
#contact >a {
    margin: 10px;
    
}
#contact > a::nth-child(2) {
    margin-bottom: 15px;
}
@media only screen and (max-width:600px) {
    #navbar-logo {
        display: inline-block;
    }
    #brand-text {
        font-size: 20px;
    }
}
@media only screen and (min-width:600px) and (max-width:768px) {
    #brand-text {
        font-size: 28px;
    }
}
@media only screen and (min-width:768px) and (max-width:1200px) {
    #brand-text {
        font-size: 38px;
    }
}
/* @media only screen and (min-width:1200px) {
    #brand-text {
        font-size: 85px;
        line-height: 85px;
    }
} */