/* Classic Theme For First User Selection */
body {
    padding: 0;
    margin: 0;
    background-color: rgba(226, 226, 226, 0.835);
    box-sizing:border-box ;
}
#navbar {
    border-radius: 20px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:black;
}
#navbar-logo {
    text-decoration: none;
}
.fa-user-circle {
    color: black;
    font-size: 70px;
    margin-top: 5px;
    z-index: 2;
}
.versus-img {
    width:32px;
}
#how-to-play {
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 25px;
    align-items: center;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}
#brand-text {
    font-family: 'Rubik Beastly',cursive;
    margin:20px;
    font-size: 70px;
    line-height: 70px;
}
#rock-text{
    color:#ee3393;
}
#paper-text{
    color:#f9ca00;
}
#scissors-text{
    color:#01cae6;
}
.logo-image {
    width: 54px;
    height: 54px;
    border: 3px solid black;
    border-radius: 50%;
    margin: 10px;
}
#rock-bg {
    background-color: #ee3393;
}
#paper-bg {
    background-color: #f9ca00;
}
#scissors-bg {
    background-color: #01cae6;
}
#dropdown-btn-circle {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: white;
    margin-top: 15px;
    z-index: 2;
}
#dropdown-btn {
    cursor: pointer;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-self: center;
}
#dropdown-container {
    background-color: white;
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    width: 80px;
    border-radius:0px 0px 50px 50px ;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#complete-circle {
    display: none;
    position: absolute;
    top:65px;
    width: 80px;
    height: 42px;
    background-color: white;
    z-index: 1;
}
#center-area {
    width: auto;
    height: calc(100vh - 260px);
    display: flex;
    justify-content: center;
}
#information {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    text-align: justify;
    height: auto;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    height: auto;
    color: #fff;
    background-color: #000;
    border-radius: 25px;
    overflow: hidden;
    justify-content: center;
}
#container > h1 {
    font-size: 42px;
}
#container > p {
    padding: 0px 35px 0px 35px;
    font-size: 28px;
    margin-top: 0;
}
#image-container {
    display: flex;
    justify-content: center;
}
.logo-in-text {
    width: 100px;
    height: 100px;
    margin:10px;
}
#glhf {
    display: flex;
    justify-content: center;
    padding: 25px 15px 10px 15px;
    font-weight:900 ;
    font-size: 28px;
}
#footer {
    border-radius: 20px;
    background-color: #000;
    display: flex;
    width: calc(100% - 20px);
    position: fixed;
    bottom: 0;
    margin: 0px 0px 10px 10px;
    height: 110px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#footer >p {
    font-size: 26px;
    color: #fff;
}
#contact {
    width: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    font-weight: 800;
}
#contact >a {
    margin: 10px;
    
}
#contact > a::nth-child(2) {
    margin-bottom: 15px;
}
#github {
    width: 90px;
}
#linkedin {
    width: 70px;
}
#instagram {
    width: 80px;
}
@media only screen and (max-width:600px) {
    #navbar {
        margin-bottom: 0px;
    }
    #user-choose {
        display: flex;
        align-items: center;
    }
    .fa-user-circle {
        color: black;
        font-size: 30px;
        margin-top: 5px;
        z-index: 2;
    }
    #dropdown-btn-circle {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: white;
        z-index: 2;
        margin-top: 0px;
    }
    #dropdown-btn {
        cursor: pointer;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-self: center;
    }
    #dropdown-container {
        background-color: white;
        display: none;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        width: 40px;
        border-radius:0px 0px 50px 50px ;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        margin-top: 165px;
        z-index: 2;
    }
    .logo-image {
        width: 26px;
        height: 26px;
        border: 2px solid black;
        border-radius: 50%;
        margin: 5px;
    }
    #complete-circle {
        display: none;
        position: absolute;
        top:45px;
        width: 40px;
        height: 42px;
        background-color: white;
        z-index: 1;
    }
    #brand-text {
        font-size: 12px;
        margin: 0px;
    }
    .versus-img {
        width: 8px;
    }
    #how-to-play {
        font-size: 10px;
    }
    #center-area {
        width: auto;
        height: calc(100vh - 160px);
        display: flex;
        justify-content: center;
    }
    #conrainer {
        width: auto;
    }
    .logo-in-text {
        width: 40px;
        height: 40px;
        margin:5px;
    }
    #container > h1 {
        font-size: 18px;
    }
    #container > p {
        padding: 0px 10px 0px 10px;
        font-size: 12px;
        margin-top: 0;
    }
    #glhf {
        font-size: 16px;
    }
    #footer {
        height: 70px;
    }
    #footer >p {
        font-size: 12px;
        color: #fff;
    }
    #contact > a >img{
        width: 30px;
        height: 30px;
    }
}
@media only screen and (min-width:600px) and (max-width:768px) {
    #brand-text {
        font-size: 18px;
    }
    .versus-img {
        width: 12px;
    }
    #how-to-play {
        font-size: 18px;
    }
    #conrainer {
        width: auto;
    }
    #container > h1 {
        font-size: 32px;
    }
    #container > p {
        padding: 0px 15px 0px 15px;
        font-size: 18px;
        margin-top: 0;
    }
}
@media only screen and (min-width:768px) and (max-width:1200px) {
    #brand-text {
        font-size: 38px;
    }
    .versus-img {
        width:22px;
    }
    #how-to-play {
        font-size: 20px;
    }
    #container {
        width: 90vw;
    }
    #container > h1 {
        font-size: 32px;
    }
    #container > p {
        padding: 0px 35px 0px 35px;
        font-size: 24px;
        margin-top: 0;
    }
}